---
layout: default
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<style>
    .container{
        width: 100%;
        height: 60vh;
        border: solid gray 2px;
        border-radius: 6px;
        overflow: scroll;
    }
    #uploader{
        border-radius: 6px;
        border-color: rgb(4, 170, 109);
        background-color: rgb(4, 170, 109);
        width: 10em;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        cursor: pointer;
        color: white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        font-size: 20px;
        text-align: center;
    }
    .download{
        border-radius: 6px;
        border-color: rgb(4, 170, 109);
        background-color: rgb(4, 170, 109);
        width: 10em;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        cursor: pointer;
        color: white;
        font-size: 20px;
        text-align: center;
    }
    #upload{
        display: none;
    }
    h5{
        bottom: inherit;
        color: gray;
        position: absolute; 
        left: 50%; 
        top: 60%; 
        transform: translate(-50%,-50%);
    }
</style>
<div id="body">
<div class="container" id="container">
    <input type="file" name="upload" id="upload" accept=".zip">
    <label for="upload" id="uploader">Upload File</label>
    <h5> <i>or drag and drop files here</i> </h5>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"></script>
<script>

    function splits(params) {
        const arr=params.split(".");
        return arr[arr.length-1];
    }

    function name_splits(params) {
        const arr=params.split("/");
        return arr[arr.length-1];
    }

    let container=document.getElementById('container');
    let input=document.getElementById('upload');

    container.addEventListener("dragover",function(evt){
        evt.preventDefault();
    });
    container.addEventListener("dragenter",function(evt){
        evt.preventDefault();
    });
    container.addEventListener("drop",function(evt){
        evt.preventDefault();
        input.files=evt.dataTransfer.files;
        if(splits(input.files[0].name)=="zip")
        {
            let event = new Event('change');
            input.dispatchEvent(event);
        }
        else
        {
            alert("File type not supported");
            location.reload();
        }
    });
    input.addEventListener("change",function(evt){
        container.innerHTML="";
    
    function handleFile(f) {
        let da=document.createElement('button');
        let tn=document.createTextNode('Download All');
        da.classList.add('download');
        da.appendChild(tn);
        document.getElementById('body').appendChild(da);
        let tempo={};
        let directory=[];
        JSZip.loadAsync(f)                                  
        .then(function(zip) {
            zip.forEach(function (relativePath, zipEntry) {  

                let temp={};
                const arr=(zipEntry.name).split("/");

                if(zipEntry.name===arr[0])
                {
                    temp["id"]=zipEntry.name;
                    temp["parent"]="#";
                    temp["text"]=zipEntry.name;
                    zip.file(relativePath).async("blob").then(function(data) {
                        tempo[zipEntry.name]=window.URL.createObjectURL(data);
                    });
                }
                else if(arr[arr.length-1]==="")
                {
                    temp["id"]=arr[arr.length-2];
                    if(arr[arr.length-3]!=null)
                        temp["parent"]=arr[arr.length-3]
                    else
                        temp["parent"]="#";
                    temp["text"]=arr[arr.length-2];
                    tempo[arr[arr.length-2]]="#";
                }
                else
                {
                    temp["id"]=arr[arr.length-1];
                    temp["parent"]=arr[arr.length-2];
                    temp["text"]=arr[arr.length-1];
                    zip.file(relativePath).async("blob").then(function(data) {
                        tempo[arr[arr.length-1]]=window.URL.createObjectURL(data);
                    });
                }

                directory.push(temp);
            });

            $("#container").jstree({
                "core": {
                "check_callback": true,
                "data": directory
                }
            }).on('select_node.jstree', function(e, data) {
            if(tempo[data.node.text]!="#")
            {
                let a = document.createElement('a');
                a.href=tempo[data.node.text];
                a.download=data.node.text;
                a.click();
            }
            });
            da.addEventListener("click",function (evt) {
                evt.preventDefault();
                let keys = Object.keys(tempo); 
                keys.forEach( function(key) {

                    if(tempo[key]==="#")
                        return;
                    let a = document.createElement('a');
                    a.href=tempo[key];
                    a.download=key;
                    a.click();
                });
            });
        }, function (e) {
            $result.append($("<div>", {
                "class" : "alert alert-danger",
                text : "Error reading " + f.name + ": " + e.message
            }));
        });
    }
    let files = evt.target.files[0];
    handleFile(files);
    });
</script>